*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#0f172a;
  color:white;
  font-family:Arial;
  padding:40px;
}

.container{
  width:80%;
  margin:auto;
  background:#1e293b;
  padding:30px;
  border-radius:20px;
}

h1{
  margin-bottom:20px;
}

input{
  width:100%;
  padding:15px;
  margin:10px 0;
  border:none;
  border-radius:10px;
}

.question-box{
  background:#334155;
  padding:20px;
  border-radius:15px;
  margin-top:20px;
}

button{
  padding:15px 25px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  margin-top:20px;
  background:#38bdf8;
  color:white;
  font-size:16px;
}