body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.home-container{
  text-align:center;
}

button{
  padding:15px 30px;
  margin:10px;
  border:none;
  border-radius:10px;
  background:#38bdf8;
  color:white;
  cursor:pointer;
  font-size:18px;
}