<nav class="navbar">

  <div class="logo">
    Quiz System
  </div>

  <ul class="nav-links">

    <li>
      <a href="dashboard.html">
        Dashboard
      </a>
    </li>

    <li>
      <a href="quiz-list.html">
        Quizzes
      </a>
    </li>

    <li>
      <a href="leaderboard.html">
        Leaderboard
      </a>
    </li>

    <li>
      <a href="analytics.html">
        Analytics
      </a>
    </li>

    <li>
      <a href="profile.html">
        Profile
      </a>
    </li>

  </ul>

</nav>