<div class="sidebar">

  <h2>
    Quiz System
  </h2>

  <ul>

    <li>
      <a href="dashboard.html">

        <i class="fa-solid fa-house"></i>

        Dashboard

      </a>
    </li>

    <li>
      <a href="create-quiz.html">

        <i class="fa-solid fa-plus"></i>

        Create Quiz

      </a>
    </li>

    <li>
      <a href="quiz-list.html">

        <i class="fa-solid fa-book"></i>

        Quiz List

      </a>
    </li>

    <li>
      <a href="leaderboard.html">

        <i class="fa-solid fa-trophy"></i>

        Leaderboard

      </a>
    </li>

    <li>
      <a href="analytics.html">

        <i class="fa-solid fa-chart-line"></i>

        Analytics

      </a>
    </li>

    <li>
      <a href="profile.html">

        <i class="fa-solid fa-user"></i>

        Profile

      </a>
    </li>

  </ul>

</div>